*::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.96);
	opacity: 1;
}
*:-moz-placeholder {
	color: rgba(255, 255, 255, 0.96);
	opacity: 1;
}
*::-moz-placeholder {
	color: rgba(255, 255, 255, 0.96);
	opacity: 1;
}
*:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.96);
	opacity: 1;
}

body input:focus:required:invalid, 
body textarea:focus:required:invalid {
	
}
body input:required:valid, 
body textarea:required:valid {
	
}
body {
	font-family: 'HelveticaNeueCyr', sans-serif;
	font-size: 20px;
	line-height: 140%;
	font-weight: 300;
	color: #fff;
	overflow-x: hidden;
	margin: 0;
	background: #111416;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 178px;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 800;
	background: #111416;
}
.header__top {
	padding-top: 32px;
	gap: 32px;
	padding-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__info {
	flex: 1;
}
.header__location {
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
	font-weight: 400;
}
.logo img {
	width: 190px;
	height: auto;
}
.header__contacts {
	gap: 24px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}
.phone-main {
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
}
.container {
	padding: 0 64px;
	max-width: 100%;
}
.header__buttons {
	gap: 8px;
	display: flex;
	align-items: center;
}
.btn-header {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: all 0.3s;
	cursor: pointer;
}
.btn-header__value {
	width: 16px;
	height: 16px;
	top: 13px;
	right: 7px;
	font-size: 10px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: #111416;
	font-weight: 500;
	border-radius: 50%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: #edccba;
} 
.header__bottom {
	border-top: 2px solid rgba(255, 255, 255, 0.72);
	border-bottom: 2px solid rgba(255, 255, 255, 0.72);
	position: relative;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu > li {
	flex: 1;
}
.menu > li > a {
	height: 61px;
	font-size: 18px;
	gap: 12px;
	line-height: 140%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.96);
	font-weight: 400;
	border-top: 4px transparent solid;
	border-bottom: 4px transparent solid;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.menu > li > a > i {
	font-size: 80%;
}

.billbord__image {
	margin-top: -10px;
	margin-bottom: -50px;
}
.billbord__image img {
	min-height: 600px;
    height: 72vh;
    width: auto;
    max-width: initial;
	margin: 0 auto;
}
.billbord__content {
	margin-right: -137px;
	margin-left: 70px;
	position: relative;
	z-index: 2;
}
.title-big {
	font-size: 86px;
	margin-bottom: 24px;
	line-height: 110%;
	text-transform: uppercase;
	font-weight: 400;
}
.title-middle {
	font-size: 32px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.96);
}
.billbord__buttons {
	padding-top: 42px;
	gap: 24px;
	display: flex;
	align-items: center;
}
.btn-main {
	height: 68px;
	padding: 0 42px;
	font-size: 20px;
	gap: 16px;
	border-radius: 8px;
	font-weight: 500;
	color: #101010;
	background: #edccba;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-main.btn-main_page {
	background: #fff;
}

.catalog,
.categories {
	padding-bottom: 150px;
}
.row > div {
	padding: 0 10px;
}
.row {
	margin: 0 -10px;
}
.row.row_main > div {
	margin-bottom: 20px;
}
.row.row_main {
	margin-bottom: -20px;
}
.item-category {
	border-radius: 8px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.96);
	display: block;
	position: relative;
	z-index: 1;
	background: rgba(255, 255, 255, 0.06);
	padding-top: 100%;
}
.item-category::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: all 0.6s;
	background-image: url(../img/bg_item_catalog.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 8px;
}

.item-category__content {
	padding: 32px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}
.item-category__title {
	display: block;
}
.item-category__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: block;
}
.item-category__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.title-section {
	font-size: 42px;
	margin-bottom: 42px;
	text-align: center;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 300;
}
.tabs {
	border-bottom: 2px solid rgba(255, 255, 255, 0.72);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tabs li {
	flex-grow: 1;
}
.tabs a {
	height: 59px;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.96);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 4px transparent solid;
}
.tabs .active a {
	font-weight: 700;
	border-color: #fff;
}
.tab-container {
	padding-top: 64px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.item-catalog {
	border-radius: 8px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: rgba(255, 255, 255, 0.03);
	position: relative;
	transition: all 0.3s;
}
.item-catalog__top {
	padding-top: 108%;
	width: 100%;
	position: relative;
}
.item-catalog__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}
.item-catalog__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 8px 8px 0 0;
}
.item-catalog__content {
	padding: 24px 32px;
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-catalog__title {
	margin-bottom: 8px;
	color: #fff;
	display: block;
	width: 100%;
}
.item-catalog__descr {
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
}
.item-catalog__bottom {
	padding-top: 46px;
	width: 100%;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-catalog__title,
.price-main {
	font-size: 24px;
	font-weight: 500;
}
.btn-main.btn-main_border {
	border: 1px solid #edccba;
	color: #edccba;
	background: transparent;
}
.item-catalog .btn-main {
	height: 60px;
	padding: 0 32px;
	font-size: 18px;
}
.slider-catalog .slick-track {
	display: flex !important;
}
.slider-catalog .slick-slide {
	padding: 0 10px;
	height: inherit !important;
}
.slider-catalog .slick-list {
	margin: 0 -10px;
}
.price-old {
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.01em;
	text-decoration: line-through;
	color: rgba(255, 255, 255, 0.42);
}
.badges {
	top: 20px;
	left: 20px;
	gap: 8px;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
}
.badges__item {
	padding: 16px;
	font-size: 18px;
	border-radius: 40px;
	line-height: 100%;
	letter-spacing: -0.03em;
	color: rgba(17, 20, 22, 0.96);
	font-weight: 700;
	background: #fff;
}
.slick-arrow {
	width: 50px;
	height: 50px;
	top: 50%;
	font-size: 19px;
	position: absolute;
	transition: all 0.3s;
	cursor: pointer;
	color: #edccba;
	border: 2px solid #edccba;
	-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.slick-prev {
	left: -70px;
}
.slick-next {
	right: -70px;
}
.content-section {
	padding: 0 70px;
}

.item-banner {
	height: 716px;
	padding-top: 150px;
	text-align: center;
	z-index: 1;
	position: relative;
}
.item-banner__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.item-banner__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.item-banner__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(17, 20, 22, 0.72), rgba(17, 20, 22, 0.72));
}
.title-main {
	font-size: 64px;
	margin-bottom: 42px;
	line-height: 110%;
	font-weight: 400;
}
.unit-features {
	gap: 32px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.96);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.unit-features__item {
	gap: 8px;
	display: flex;
	align-items: center;
}
.unit-features__item img {
	width: 32px;
	height: auto;
}
.title-small {
	font-size: 18px;
	line-height: 140%;
}
.item-banner__text {
	margin: 42px auto;
	max-width: 639px;
	color: rgba(255, 255, 255, 0.64);
}
.item-banner__buttons {
	gap: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-banner_2 .item-banner__image::after {
	background: linear-gradient(0deg, rgba(17, 20, 22, 0.86), rgba(17, 20, 22, 0.86));
}
.item-banner__subtitle {
	margin-bottom: 24px;
	font-weight: 500;
}
.slider-banner:not(.slick-initialized) > *:not(:first-child),
.slider-catalog:not(.slick-initialized) > *:not(:first-child) {
	display: none;
}
.slider-banner .slick-prev {
	left: 64px;
}
.slider-banner .slick-next {
	right: 64px;
}

.footer {
	padding-top: 64px;
	margin-top: 32px;
	font-size: 16px;
}
.footer__title {
	font-size: 18px;
	margin-bottom: 22px;
	display: inline-block;
	vertical-align: middle;
	line-height: 140%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.96);
}
.footer__nav li {
	margin-bottom: 22px;
	padding-left: 18px;
	letter-spacing: 0.01em;
	position: relative;
	line-height: 100%;
}
.footer__nav li::before {
	position: absolute;
	display: block;
	content: " ";
	background: rgba(255, 255, 255, 0.16);
	width: 6px;
	height: 6px;
	top: 4px;
	left: 0;
	border-radius: 50%;
}
.footer__nav li:last-child {
	margin-bottom: 0;
}
.footer__nav li a {
	color: rgba(255, 255, 255, 0.72);
}
.footer__nav {
	margin-bottom: 42px;
}
.footer__nav:last-child {
	margin-bottom: 0;
}
.footer__info {
	max-width: 266px;
	margin: 0 auto;
}
.footer__contacts {
	padding-top: 32px;
	margin: 32px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.16);
	text-align: center;
	color: rgba(255, 255, 255, 0.72);
}
.footer .phone-main {
	font-size: 24px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
	line-height: 100%;
}
.footer__contacts p {
	margin-top: 8px;
}
.footer .logo img {
	width: 100%;
}
.socials-list {
	gap: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.socials-list a {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.socials-list img {
	max-height: 18px;
	width: auto;
}
.footer-bottom {
	padding: 24px 64px;
	margin-top: 64px;
	border-top: 2px solid rgba(255, 255, 255, 0.72);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgba(255, 255, 255, 0.72);
	font-weight: 400;
}
.footer-bottom__content {
	flex: 1;
	text-align: center;
}
.create {
	gap: 12px;
	display: flex;
	align-items: center;
}
.footer__link {
	color: rgba(255, 255, 255, 0.72);
	border-bottom: 1px rgba(255, 255, 255, 0.72) solid;
}
.row > div:nth-child(2) .footer__col {
	margin-left: 40px;
}
.row > div:nth-child(3) .footer__col {
	margin-left: 15px;
}
.row > div:nth-child(4) .footer__col {
	margin-left: 65px;
}
.slick-dots {
	gap: 16px;
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-dots li {
	width: 13px;
	height: 13px;
}
.slick-dots li button {
	width: 13px;
	height: 13px;
	background: rgba(255, 255, 255, 0.32);
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
	font-size: 0;
	color: transparent;
	display: block;
	cursor: pointer;
}
.slick-dots li.slick-active button {
	background: #edccba;
}
.slick-dots li button::before {
	display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 45px;
	height: 45px;
	padding-top: 14px;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items:center;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 0px;
	width: 20px;
	height: 2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border-radius: 2px;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 5px;
	width: 20px;
	height: 2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border-radius: 2px;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 10px;
	width: 20px;
	height: 2px;
	display: block;
	margin: 0;
	background-color: #fff;
	border-radius: 2px;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 7px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 3px;
	transform: rotate(-45deg); 
}

.menu-dropdown {
	padding: 64px;
	max-height: calc(100vh - 177px);
	border: 2px solid rgba(255, 255, 255, 0.08);
	background: rgba(17, 20, 22, 0.98);
	top: 100%;
	left: 0;
	width: 100%;
	position: absolute;
	display: none;
	overflow: auto;
}
.sidebar-catalog__content::-webkit-scrollbar,
.basket-popup__list::-webkit-scrollbar,
.menu-dropdown::-webkit-scrollbar {
	-webkit-appearance: none;
}
.sidebar-catalog__content::-webkit-scrollbar:vertical,
.basket-popup__list::-webkit-scrollbar:vertical,
.menu-dropdown::-webkit-scrollbar:vertical {
	width: 16px;
}
.sidebar-catalog__content::-webkit-scrollbar:horizontal,
.basket-popup__list::-webkit-scrollbar:horizontal,
.menu-dropdown::-webkit-scrollbar:horizontal {
	height: 16px;
}
.sidebar-catalog__content::-webkit-scrollbar-thumb,
.basket-popup__list::-webkit-scrollbar-thumb,
.menu-dropdown::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.03);
}
.sidebar-catalog__content::-webkit-scrollbar-track,
.basket-popup__list::-webkit-scrollbar-track,
.menu-dropdown::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.03);
}
.image-menu-wrap {
	margin-right: 25px;
	padding-top: 96%;
	position: relative;
	display: block;
}
.image-menu {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.image-menu img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 8px;
}
.menu-dropdown__title {
	margin-bottom: 22px;
	line-height: 140%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.96);
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
}
.menu-dropdown ul li {
	margin-bottom: 19px;
	font-size: 16px;
	padding-left: 18px;
	letter-spacing: 0.01em;
	position: relative;
	line-height: 100%;
}
.menu-dropdown ul li::before {
	position: absolute;
	display: block;
	content: " ";
	background: rgba(255, 255, 255, 0.16);
	width: 6px;
	height: 6px;
	top: 4px;
	left: 0;
	border-radius: 50%;
}
.menu-dropdown ul li:last-child {
	margin-bottom: 0;
}
.menu-dropdown ul li a {
	color: rgba(255, 255, 255, 0.72);
}
.menu-dropdown__content {
	margin-left: -15px;
}
.menu-dropdown .row > div {
	margin-bottom: 64px;
}
.menu-dropdown .row {
	margin-bottom: -64px;
}
.item-menu {
	gap: 32px;
	margin-bottom: 13px;
	display: flex;
	align-items: center;
}
.item-menu__image {
	width: 119px;
	height: 82px;
	border-radius: 8px;
	flex: none;
	display: block;
}
.item-menu__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 10px;
}
.menu-dropdown__close {
	top: 30px;
	right: 30px;
	width: 18px;
	height: 18px;
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	cursor: pointer;
	transition: all 0.3s;
	z-index: 2;
}
.item-menu .menu-dropdown__title {
	margin: 0;
}
.basket-wrap {
	position: relative;
}
.basket-popup {
	width: 780px;
	margin-top: 26px;
	padding: 64px;
	top: 100%;
	right: 0;
	position: absolute;	
	box-shadow: 0 4px 64px 0 rgba(0, 0, 0, 0.32);
	background: rgba(17, 20, 22, 0.98);
	border: 1px solid rgba(255, 255, 255, 0.08);
	display: none;
	border-radius: 8px;
	z-index: 1;
}
.item-basket {
	gap: 32px;
	margin-bottom: 38px;
	font-size: 16px;
	max-width: 572px;
	font-weight: 400;
	display: flex;
	align-items: flex-start;
	position: relative;
}
.item-basket__image {
	width: 200px;
	height: 209px;
	border-radius: 8px;
	display: block;
	flex: none;
}
.item-basket__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 8px;
}
.item-basket__title {
	font-size: 24px;
	margin-bottom: 6px;
	line-height: 140%;
	letter-spacing: 0.06em;
	color: rgba(255, 255, 255, 0.96);
	font-weight: 400;
	display: block;
}
.item-basket__descr {
	color: rgba(255, 255, 255, 0.64);
}
.item-basket__text {
	margin: 30px 0;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.72);
}
.item-basket__text li {
	margin-bottom: 18px;
	padding-left: 18px;
	letter-spacing: 0.01em;
	position: relative;
	line-height: 100%;
}
.item-basket__text li::before {
	position: absolute;
	display: block;
	content: " ";
	background: rgba(255, 255, 255, 0.16);
	width: 6px;
	height: 6px;
	top: 4px;
	left: 0;
	border-radius: 50%;
}
.item-basket__text li:last-child {
	margin-bottom: 0;
}
.quantity {
	width: 148px;
	height: 48px;
	display: flex;
	overflow: hidden;
	border: 2px solid rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	background: #111416;
}
.quantity-button {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 16px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	display: flex;
	align-items: center;
	font-family: 'HelveticaNeueCyr';
	justify-content: center;
	cursor: pointer;
	user-select: none;
	background: rgba(255, 255, 255, 0.03);
}
.quantity input {
	flex: 1;
	width: 100%;
	font-size: 16px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	padding: 0;
	border: none;
	border-left: 2px solid rgba(255, 255, 255, 0.08);
	border-right: 2px solid rgba(255, 255, 255, 0.08);
	text-align: center;
	font-family: 'HelveticaNeueCyr';
	background-color: transparent;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}
input[type=number]
{
	-moz-appearance: textfield;
}
.item-basket__bottom {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.prices-wrap__line {
	gap: 8px;
	display: flex;
	align-items: center;
}
.discount-price {
	font-size: 16px;
	color: rgba(237, 204, 186, 0.64);
	font-weight: 700;
	line-height: 140%;
}
.item-basket .price-main {
	font-size: 30px;
	color: #edccba;
}
.item-basket__bottom .prices-wrap {
	text-align: right;
}
.item-basket__content {
	margin-top: -8px;
}
.basket-popup__list {
	max-height: calc(100vh - 460px);
	overflow: auto;
}
.basket-total-popup {
	margin: 42px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.basket-total-popup .title-small {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.96);
}
.price-total {
	font-size: 42px;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-weight: 500;
}
.basket-popup .btn-main {
	padding: 0 10px;
	width: 100%;
}
.share-wrap {
	position: relative;
}
.share-popup {
	width: 407px;
	padding: 64px;
	margin-top: 28px;
	top: 100%;
	right: 0;
	position: absolute;
	box-shadow: 0 4px 64px 0 rgba(0, 0, 0, 0.32);
	background: rgba(17, 20, 22, 0.98);
	border: 1px solid rgba(255, 255, 255, 0.08);
	z-index: 10;
	border-radius: 8px;
	display: none;
}
.btn-social {
	font-size: 16px;
	margin-bottom: 24px;
	gap: 12px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
	font-weight: 400;
	display: flex;
	align-items: center;
}
.btn-social__icon {
	width: 32px;
	height: 32px;
	padding: 2px; 
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	transition: all 0.3s;
}
.btn-social__icon img {
	max-width: 100%;
	max-height: 100%;
}
.btn-social:last-child {
	margin-bottom: 0;
}
.btn-social__title {
	display: block;
}
.btn-social__descr {
	font-size: 12px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.32);
	display: block;
}
.btn-header.active {
	background: #fff;
}
.btn-header.active img {
	filter: brightness(0%);
}
.menu > li:nth-child(2) .image-menu-wrap {
	padding-top: 68%;
}
.breadcrumbs {
	padding: 25px 0;
	font-size: 16px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.32);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: rgba(255, 255, 255, 0.64);
}
.breadcrumbs a:hover {
	color: rgba(255, 255, 255, 1);
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 16px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.page-catalog .title-section {
	margin-bottom: 64px;
	text-align: left;
}
.sidebar-catalog__title {
	font-size: 32px;
	margin-bottom: 32px;
	line-height: 110%;
	font-weight: 400;
}
.item-form select {
	opacity: 0;
}
.item-form input,
.item-form .jq-selectbox__select-text {
	height: 48px;
	padding: 0 24px;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
	border: 2px solid rgba(255, 255, 255, 0.32);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	background: transparent;
	width: 100%;
}
.item-form .jq-selectbox__select-text {
	cursor: pointer;
}
.item-form .jq-selectbox {
	font-size: 16px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
	width: 100%;
	display: block;
}
.item-form .jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 24px;
	bottom: 0;
	font-size: 80%;
	color: rgba(255, 255, 255, 0.64);
	cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: flex;
	align-items: center;
	justify-content: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
}
.item-form .jq-selectbox__trigger::after {
	content: "\f078";
}
.item-form .jq-selectbox__dropdown {
	top: 100% !important;
	position: absolute;
	left: 0;
	bottom: auto !important;
	border: 2px solid rgba(255, 255, 255, 0.32);
	background: #111416;
	width: 100%;
	border-radius: 8px;
	z-index: 2;
}
.item-form .jq-selectbox__dropdown li {
	padding: 5px 24px;
	cursor: pointer;
}
.sidebar-catalog {
	margin-right: 90px;
	top: 178px;
	position: sticky;
}
.item-form {
	margin-bottom: 16px;
	position: relative;
}
.checkbox-main {
	font-size: 16px;
	margin-bottom: 12px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	text-align: left;
}
.checkbox-main label {
	display: block;
	position: relative;
	cursor: pointer;
}
.checkbox-main label input {
	border: 2px solid rgba(255, 255, 255, 0.32);
	border-radius: 3px;
	width: 21px;
	height: 21px;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-top: -2px;
	margin-right: 12px;
	transition: .2s;
}
.checkbox-main input::after {
	position: absolute;
    top: 0px;
    left: 0px;
	width: 100%;
	height: 100%;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 600;
	border-radius: 3px;
	color: #111416;
	background: #edccba;
	font-size: 13px;
	opacity: 0;
	transition: .2s;
}
.checkbox-main input:checked:after {
	opacity: 1;
}
.checkbox-main input:checked {
	background: #edccba;
}
.checkbox-main input:checked + span {
	color: rgba(255, 255, 255, 0.96);
	font-weight: 500;
}
.checkbox-main span {
	transition: all 0.3s;
}
.sidebar-catalog__item .item-form:last-child {
	margin-bottom: 0;
}
.sidebar-catalog__item {
	margin-bottom: 42px;
}
.range-inputs {
	gap: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.range-inputs .item-form {
	flex: 1;
	margin: 0;
}
.sidebar-catalog__buttons .btn-main {
	margin-bottom: 16px;
	padding: 0 10px;
	width: 100%;
}
.sidebar-catalog__buttons .btn-main:last-child {
	margin-bottom: 0;
}
.sidebar-catalog__buttons {
	padding: 20px 0;
	bottom: 0;
	background: #111416;
	position: sticky;
}
.btn-main.btn-main_clear {
	background: rgba(255, 255, 255, 0.32);
}
.button-pager {
	padding-top: 64px;
	text-align: center;
}
.button-pager .btn-main {
	width: 470px;
	height: 60px;
}
.pager {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	width: 51px;
	height: 59px;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: rgba(255, 255, 255, 0.96);
	border-bottom: 2px solid rgba(255, 255, 255, 0.08);
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers.current {
	border-color: #fff;
	font-weight: 700;
}
.prev.page-numbers,
.next.page-numbers {
	border: none !important;
	color:  rgba(255, 255, 255, 0.64);
}
.page-catalog {
	padding-bottom: 60px;
}
.content-catalog {
	margin-left: -50px;
}
.sidebar-catalog__content {
	padding-right: 10px;
	max-height: calc(100vh - 360px);
	overflow: auto;
}
.slider-card:not(.slick-initialized) > *:not(:first-child) {
	display: none;
}
.slider-card__image {
	display: block;
}
.image-card-wrap {
	padding-top: 100%;
	position: relative;
	display: block;
}
.image-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}
.image-card img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.slider-card .slick-prev {
	left: 30px;
}
.slider-card .slick-next {
	right: 30px;
}
.slider-card .slick-dots {
	bottom: 30px;
}
.slider-card {
	margin-right: -80px;
}
.card-content .title-main {
	margin-bottom: 24px;
	font-weight: 300;
}
.card-content {
	margin-left: 110px;
}
.descr-card {
	margin-bottom: 42px;
	color: rgba(255, 255, 255, 0.64);
}
.select-wrap {
	margin-bottom: 42px;
	gap: 32px;
	display: flex;
	align-items: center;
	color: rgba(255, 255, 255, 0.64);
}
.card-content .select-wrap .item-form {
	width: 171px;
	margin: 0;
}
.item-toggle {
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.item-toggle__head {
	padding: 24px 0;
	gap: 24px;
	display: flex;
	align-items: center;
}
.switch {
	width: 64px;
	height: 32px;
	border-radius: 64px;
	position: relative;
	background: rgba(255, 255, 255, 0.16);
	cursor: pointer;
	flex: none;
}
.switch::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.16);
	transition: all 0.3s;
}
.item-toggle.active .switch::before {
	left: 32px;
	background: #edccba;
}
.item-toggle.active .item-toggle__title {
	color: #fff;
	font-weight: 500;
}
.item-toggle.active .item-toggle__descr {
	display: block;
}
.item-toggle.active .item-toggle__head .price-main {
	visibility: visible;
	opacity: 1;
}
.item-toggle__title {
	font-weight: 400;
	color: rgba(255, 255, 255, 0.42);
	transition: all 0.3s;
}
.item-toggle__descr {
	font-size: 16px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.32);
	font-weight: 400;
	display: none;
}
.item-toggle__head .price-main {
	color: #edccba;
	margin-left: auto;
	flex: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.item-add__head {
	gap: 24px;
	margin-bottom: 24px;
	display: flex;
	align-items: center;
}
.item-add__image {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	flex: none;
	display: block;
}
.item-add__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 50%;
}
.item-add__title {
	font-size: 16px;
	line-height: 110%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.64);
	display: block;
	font-weight: 400;
	transition: all 0.3s;
}
.item-add__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-add {
	padding: 16px;
	border: 1px solid rgba(255, 255, 255, 0.32);
	border-radius: 8px;
	min-height: 100%;
	transition: all 0.3s;
	position: relative;
}
.row.row_adds > div {
	padding: 0 6px;
	margin-bottom: 12px;
}
.row.row_adds {
	margin: 0 -6px;
	margin-bottom: -12px;
}
.item-add .quantity {
	width: 106px;
	height: 32px;
}
.item-add::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #edccba;
	transition: all 0.3s;
	opacity: 0;
	pointer-events: none;
	border-radius: 8px;
}
.item-add .price-main {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.64);
	transition: all 0.3s;
}
.item-add.active::before {
	opacity: 1;
}
.item-add.active .item-add__title {
	color: #EDCCBA;
}
.item-add.active .price-main {
	font-weight: 500;
	color: #edccba;
}
.item-toggle__content {
	padding-top: 15px;
	display: none;
}
.tabs_card {
	margin-top: 96px;
	justify-content: flex-start;
}
.tabs_card li {
	flex-grow: initial;
}
.tabs_card li a {
	padding: 0 32px;
}
.tabs_card .active a {
	color: rgba(237, 204, 186, 0.96);
}
.total-card {
	gap: 40px;
	margin-top: 42px;
	font-size: 18px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.total-card .prices-wrap {
	flex: none;
	text-align: right;
}
.total-card .price-main {
	font-size: 30px;
	color: #edccba;
}
.total-card .prices-wrap__line {
	margin-top: 4px;
}
.card-buttons {
	margin-top: 32px;
	gap: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card-buttons .btn-main {
	flex: 1;
	padding: 0 10px;
}
.description-card {
	max-width: 1200px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.64);	
}
.page-card .tab-container .title-middle {
	margin-bottom: 42px;
	font-weight: 400;
}
.page-card {
	padding-bottom: 150px;
}
.recommendations {
	padding-bottom: 50px;
}
.item-news {
	padding-top: 115%;
	display: block;
	position: relative;
}
.item-news__content {
	padding: 24px 32px;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.01em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	color: rgba(255, 255, 255, 0.96);
	z-index: 4;
}
.item-news__title {
	font-size: 24px;
	margin-bottom: 8px;
	line-height: 120%;
	color: #fff;
	font-weight: 500;
	display: block;
}
.item-news__date {
	margin-bottom: 8px;
	display: block;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.42);
}
.item-news__text {
	display: block;
	color: rgba(255, 255, 255, 0.96);
}
.item-news__image {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
.item-news__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	transition: all 2s;
}
.item-news:hover .item-news__image img {
	transform: scale(1.1);
}
.item-news__image::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(17, 20, 22, 0.56);
	z-index: 1;
}
.item-news__image::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 217px;
	background: linear-gradient(180deg, rgba(10, 12, 14, 0) 0%, rgba(10, 12, 14, 0.72) 100%);
	transform: rotate(-180deg);
	z-index: 2;
}
.page-news .title-section {
	text-align: left;
}
.page-news {
	padding-bottom: 40px;
}
.modal-block {
	padding: 0;
	background: transparent;
	display: none;
}
.modal-wrap {
	width: 613px;
	padding: 42px;
	border-radius: 8px;
	max-width: 100%;
	margin: 0 auto;
	background: #1f2224;
}
.modal-wrap .title-middle {
	margin-bottom: 35px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.item-form.item-form_main input {
	height: 64px;
	border-color: rgba(237, 204, 186, 0.16);
}
.modal-wrap .btn-main {
	margin-top: 30px;
	padding: 0 10px;
	width: 100%;
}
.agree-form {
	font-size: 14px;
	margin-top: 16px;
	max-width: 457px;
	color: rgba(255, 255, 255, 0.32);
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.fancybox-slide--html .fancybox-close-small {
    padding: 6px;
    right: 5px;
    top: 5px;
}
.item-form.item-form_main *::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.64);
}
.item-form.item-form_main *:-moz-placeholder {
	color: rgba(255, 255, 255, 0.64);
}
.item-form.item-form_main *::-moz-placeholder {
	color: rgba(255, 255, 255, 0.64);
}
.item-form.item-form_main *:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.64);
}
.page-article {
	padding-bottom: 70px;
}
.article-content img {
	margin: 64px 0;
	width: 100%;
	height: auto;
	border-radius: 8px;
}
.article-content img:first-child {
	margin-top: 0;
}
.article-content h2 {
	margin-top: 64px;
	margin-bottom: 32px;
	font-size: 32px;
	line-height: 110%;
	font-weight: 400;
}
.article-content ol {
	padding: 0;
	margin: 0;
	padding-left: 20px;
}
.article-content p {
	margin: 20px 0;
}
.article-content ul {
	padding-left: 20px;
}
.article-content ul li {
	list-style-type: disc;
}
.article-content ol ul {
	padding-left: 0;
}
.page-article .title-main {
	margin-bottom: 64px;
	max-width: 720px;
	font-weight: 300;
}
.article-content blockquote {
	font-size: 24px;
	padding-bottom: 32px;
	border-bottom: 1px solid #fff;
	line-height: 140%;
	font-weight: 300;
	margin: 0;
	font-style: italic;
}
.unit-news {
	gap: 24px;
	margin-bottom: 32px;
	display: flex;
	align-items: flex-start;
}
.unit-news__image {
	width: 119px;
	height: 90px;
	border-radius: 8px;
	display: block;
	position: relative;
	flex: none;
	overflow: hidden;
}
.unit-news__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 8px;
	transition: all 2s;
}
.unit-news:hover .unit-news__image img {
	transform: scale(1.1);
}
.unit-news__image::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(17, 20, 22, 0.56);
	z-index: 1;
}
.unit-news__content {
	display: block;
	flex: 1;
}
.unit-news__title {
	font-size: 18px;
	line-height: 130%;
	color: #fff;
	font-weight: 500;
	text-wrap: pretty;
	display: block;
}
.unit-news__date {
	font-size: 16px;
	margin-top: 8px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.42);
	font-weight: 400;
	display: block;
}
.sidebar-article .title-middle {
	margin-bottom: 40px;
	font-weight: 400;
}
.sidebar-article {
	margin-left: 73px;
}
.image-page img {
	border-radius: 8px;
	max-width: 100%;
	height: auto;
	display: block;
}
.info-section p {
	margin-bottom: 30px;
}
.info-section .title-section {
	margin-bottom: 55px;
	text-align: left;
}
.page-bouquet .content-section {
	padding-top: 32px;
	padding-bottom: 32px;
}
.collections,
.page-bouquet {
	padding-bottom: 150px;
}
.item-collection {
	padding-top: 106%;
	display: block;
	position: relative;
}
.item-collection__image {
	border-radius: 8px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.item-collection__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 8px;
	transition: all 2s;
}
.item-collection:hover .item-collection__image img {
	transform: scale(1.1);
}
.collections .title-section {
	margin-bottom: 55px;
	text-align: left;
}
.fancybox-button.fancybox-button--zoom {
	display: none !important;
}
.fancybox-image {
	border-radius: 10px;
}
.fancybox-content .fancybox-close-custom {
	top: 0;
	right: 0;
	position: absolute;
	background: transparent;
}
.fancybox-gallery-container .fancybox-toolbar {
	display: none !important;
}
.fancybox-infobar {
	display: none !important;
}
.feedback {
	padding-bottom: 100px;
}
.feedback__block {
	padding: 64px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.02);
}
.feedback__block .title-section {
	margin-bottom: 30px;
	text-align: left;
	text-transform: none;
}
.feedback__descr {
	font-size: 16px;
	max-width: 771px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
}
.feedback__block .agree-form {
	text-align: left;
}
.feedback__block .btn-main {
	width: 100%;
	padding: 0 10px;
}
.feedback__block form {
	padding-left: 15px;
}
.article-content strong {
	font-weight: 500;
}
.page-bonus .article-content ul li {
	margin-bottom: 15px;
}
.page-bonus .article-content p:first-child {
	margin-top: 0;
}
.page-bonus .article-content {
	margin-right: 66px;
}
.page-bonus {
	padding-bottom: 150px;
}
.page-bonus .title-section {
	margin-bottom: 55px;
	padding-top: 32px;
	text-align: left;
}
.page-about .title-section {
	text-align: left;
}
.page-about .btn-main {
	width: 529px;
	margin-top: 15px;
	padding: 0 10px;
}
.page-about .content-section {
	padding-top: 32px;
	padding-bottom: 32px;
}
.page-about {
	padding-bottom: 150px;
}
.page-about .article-content {
	max-width: 1650px;
}
.item-team {
	min-height: 100%;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.03);
	overflow: hidden;
	transition: all 0.3s;
}
.item-team:hover {
	background: rgba(255, 255, 255, 0.06);
}
.item-team__wrap {
	padding-top: 108%;
	display: block;
	position: relative;
}
.item-team__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.item-team__image img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
.item-team__content {
	padding: 24px 32px;
}
.item-team__title {
	font-size: 24px;
	margin-bottom: 8px;
	line-height: 120%;
	font-weight: 500;
}
.item-team__descr {
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
}
.team .title-section {
	margin-bottom: 55px;
	text-align: left;
}
.team {
	padding-bottom: 100px;
}
.form-default {
	max-width: 530px;
}
.form-default__title {
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 500;
}
.form-default .btn-main {
	margin-top: 15px;
	width: 100%;
	padding: 0 10px;
}
.page-vacancies .title-section {
	padding: 32px 0;
	margin-bottom: 32px;
	text-align: left;
}
.text-vacancies {
	margin-bottom: 32px;
	color: rgba(255, 255, 255, 0.96);
	letter-spacing: 0.01em;
}
.row.row_page > div {
	padding: 0 32px;
}
.row.row_page {
	margin: 0 -32px;
}
.vacancies-top {
	margin-bottom: 32px;
}
.item-dropdown {
	margin-bottom: 16px;
	background: rgba(255, 255, 255, 0.03);
	border: 1px solid rgba(237, 204, 186, 0.32);
	border-radius: 8px;
}
.item-dropdown__head {
	font-size: 32px;
	padding: 42px;
	gap: 20px;
	line-height: 130%;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.radio-main {
	font-size: 16px;
	margin-bottom: 12px;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
	text-align: left;
}
.radio-main label {
	display: block;
	position: relative;
	cursor: pointer;
}
.radio-main label input {
	width: 21px;
	height: 21px;
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-top: -2px;
	margin-right: 12px;
	transition: .2s;
}
.radio-main input::before,
.radio-main input::after {
	position: absolute;
    display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-image: url(../img/radio.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.3s;
}
.radio-main input::after {
	background-image: url(../img/radio_active.svg);
	opacity: 0;
}
.radio-main input:checked:after {
	opacity: 1;
}
.radio-main input:checked:before {
	opacity: 0;
}
.radio-main input:checked + span {
	color: rgba(255, 255, 255, 0.96);
	font-weight: 500;
}
.radio-main span {
	transition: all 0.3s;
}
.form-default__checks {
	padding-bottom: 20px;
}
.item-dropdown__content {
	padding: 42px;
	padding-top: 0;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
	display: none;
}
.item-dropdown__content p {
	margin-bottom: 16px;
}
.item-dropdown__subtitle {
	margin-bottom: 8px;
	margin-top: 24px;
	font-weight: 500;
}
.item-dropdown__content ul li {
	margin-bottom: 8px;
	list-style-type: disc;
}
.item-dropdown__content ul {
	padding-left: 20px;
}
.item-dropdown__content ul li:last-child {
	margin-bottom: 0;
}
.item-dropdown__arrow {
	width: 28px;
	height: 28px;
	flex: none;
	position: relative;
}
.item-dropdown__arrow::after,
.item-dropdown__arrow::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.item-dropdown__arrow::before {
	background-image: url(../img/plus.svg);
}
.item-dropdown__arrow::after {
	background-image: url(../img/minus.svg);
	opacity: 0;
}
.item-dropdown.active .item-dropdown__arrow::before {
	opacity: 0;
}
.item-dropdown.active .item-dropdown__arrow::after {
	opacity: 1;
}
.page-vacancies {
	padding-bottom: 100px;
}
.menu > li.opened > a {
	font-weight: 700;
	color: #fff;
	border-bottom-color: #fff;
}
.menu > li.opened > a > i {
	transform: rotate(180deg);
}
.page-service .title-section {
	margin-bottom: 36px;
	text-align: left;
}
.page-service .article-content {
	margin-bottom: 30px;
	color: rgba(255, 255, 255, 0.96);
}
.service-top {
	padding: 32px 0;
}
.item-about {
	margin-bottom: 42px;
	gap: 16px;
	display: flex;
	align-items: flex-start;
}
.item-about:last-child {
	margin-bottom: 0;
}
.item-about__icon {
	width: 32px;
	height: 32px;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-about__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-about__title {
	font-size: 24px;
	margin-bottom: 15px;
	line-height: 120%;
	font-weight: 500;
}
.item-about p {
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
}
.about-service .title-section {
	text-transform: none;
}
.about-service,
.portfolio,
.page-service + .feedback {
	padding: 64px 0;
}
.page-delivery {
	padding-bottom: 120px;
}
.page-delivery .title-section {
	text-align: left;
}
.info-box {
	padding: 32px;
	font-size: 18px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.96);
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.02);
}
.info-box__title {
	font-size: 24px;
	margin-bottom: 24px;
	font-weight: 500;
	line-height: 130%;
	color: #edccba;
}
.info-box__subtitle,
.info-box p {
	margin-bottom: 16px;
}
.info-box p:last-child {
	margin-bottom: 0;
}
.info-box ul li {
	list-style-type: disc;
}
.info-box ul {
	padding-left: 20px;
	margin-bottom: 24px;
}
.info-box strong {
	font-weight: 500;
}
.info-box__subtitle {
	margin-top: 24px;
	font-weight: 500;
}
.col_boxes {
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.col_boxes .info-box {
	width: 100%;
	flex: 1;
}
.wrap-delivery {
	padding-top: 32px;
	padding-bottom: 64px;
}
.row_main .info-box {
	min-height: 100%;
}
.row_main .info-box ul li {
	margin-bottom: 5px;
}
.row_main .info-box ul li:last-child {
	margin-bottom: 0;
}
.page-recommendations {
	padding-bottom: 150px;
}
.page-recommendations .title-section {
	padding: 22px 0;
	margin-bottom: 22px;
	text-align: left;
}
.unit-recommendation .title-section {
	margin-top: 30px;
	margin-bottom: 42px;
	padding: 0 !important;
	text-transform: none;
}
.row.row_recommendations > div {
	padding: 0 48px;
}
.row.row_recommendations {
	margin: 0 -48px;
}
.row.row_recommendations + .row.row_recommendations {
	margin-top: 96px;
}
.unit-recommendation .article-content ul li {
	margin-bottom: 15px;
}
.unit-recommendation .article-content ul li:last-child {
	margin-bottom: 0;
}
.unit-recommendation .article-content {
	color: rgba(255, 255, 255, 0.96);
}
.row_recommendations .item-dropdown__content .row.row_main {
	margin-bottom: 15px;
}
.row_recommendations .item-dropdown__content ul li {
    margin-bottom: 15px;
}

.page-contacts {
	padding-bottom: 150px;
}
.page-contacts .title-section {
	padding: 32px 0;
	margin: 0;
	text-align: left;
}
.contacts-wrap {
	padding-top: 64px;
	padding-bottom: 42px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.buttons-socials {
	gap: 24px;
	display: flex;
	align-items: center;
}
.buttons-socials .btn-social {
	margin: 0;
	flex: none;
}
.unit-contact__title {
	font-size: 32px;
	margin-bottom: 24px;
	line-height: 110%;
	font-weight: 400;
}
.unit-contact__content {
	color: rgba(255, 255, 255, 0.64);
	font-weight: 400;
}
.unit-contact__content p a {
	color: rgba(255, 255, 255, 0.64);
}
.unit-contact__link {
	color: rgba(255, 255, 255, 0.64);
	border-bottom: 1px rgba(255, 255, 255, 0.64) solid;
}
#map {
	height: 700px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.03);
	overflow: hidden;
}
.page-thanks {
	padding: 90px 0;
}
.page-thanks .title-section {
	text-align: left;
}
.text-thanks {
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.72);
	font-weight: 400;
}
.text-thanks {
	margin-bottom: 42px;
}
.thanks-content {
	max-width: 515px;
	padding-top: 34px;
	margin: 0 auto;
}
.page-checkout .title-section {
	padding: 32px 0;
	margin-bottom: 32px;
	text-align: left;
}
.remove-basket {
	width: 18px;
	height: 18px;
	top: 0;
	right: 0;
	position: absolute;
	background-image: url(../img/close.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	transition: all 0.3s;
}
.page-checkout .item-basket {
	padding-bottom: 32px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	max-width: 100%;
	align-items: initial;
}
.page-checkout .item-basket__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.page-checkout .item-basket__bottom {
	margin-top: auto;
	width: 100%;
}
.page-checkout .prices-wrap__line {
	margin-top: 4px;
}
.checkout-form {
	padding: 42px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.02);
	border: 1px solid rgba(237, 204, 186, 0.16);
}
.row.row_checkout > div {
	padding: 0 47px;
}
.row.row_checkout {
	margin: 0 -47px;
}
.checkout-form__head {
	margin-bottom: 24px;
}
.checkout-form__title {
	font-size: 18px;
	font-weight: 400;
}
.checkout-form .row > div {
	padding: 0 8px;
}
.checkout-form .row {
	margin: 0 -8px;
}
.xdsoft_datetimepicker {
	font-family: 'HelveticaNeueCyr', sans-serif;
	font-weight: 300;
	color: #fff;
	background: #111416;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div,
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th {
	background: transparent;
	color: #fff;
}
.xdsoft_datetimepicker .xdsoft_label {
	background: transparent;
}
.xdsoft_datetimepicker .xdsoft_label i, .xdsoft_datetimepicker .xdsoft_prev, .xdsoft_datetimepicker .xdsoft_next, .xdsoft_datetimepicker .xdsoft_today_button {
	filter: brightness(0) invert(1);
	opacity: 1 !important;
}
.icon-calendar img {
	width: 32px;
	height: auto;
}
.icon-calendar {
	top: 0;
	right: 16px;
	bottom: 0;
	margin: auto;
	position: absolute;
	pointer-events: none;
	display: flex;
	align-items: center;
}
.item-form input:disabled + .icon-calendar,
.item-form input:disabled {
	opacity: 0.24;
}
.item-form input:disabled {
	border-color: transparent;
	background: rgba(255, 255, 255, 0.08);
}
.radios-wrap {
	gap: 16px;
	padding-top: 16px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.radios-wrap .radio-main {
	margin: 0;
}
.checkout-form__descr {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.32);
	font-weight: 400;
}
.checkout-form__head + .radios-wrap {
	padding-top: 0;
	padding-bottom: 16px;
}
.item-form_socials input {
    display: none;
}
.item-form_socials input:first-child {
	display: block;
}
.total-checkout {
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.total-checkout__title {
	font-size: 18px;
	line-height: 140%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.96);
	font-weight: 400;
}
.total-checkout .price-main {
	font-size: 42px;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.checkout-form .agree-form {
	text-align: left;
}
.checkout-form .btn-main {
	width: 100%;
	padding: 0 10px;
}
.page-checkout {
	padding-bottom: 150px;
}
.checkout-form__item {
	margin-bottom: 32px;
}
.checkout-form__item + .total-checkout {
	margin-top: -15px;
}
.page-error {
	padding: 124px 0;
}
.error-content {
	max-width: 415px;
	margin: 0 auto;
	text-align: center;
}
.error-value {
	font-size: 240px;
	margin-bottom: 42px;
	line-height: 70%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.text-error {
	font-size: 16px;
	margin-bottom: 42px;
	line-height: 140%;
	letter-spacing: 0.03em;
	text-align: center;
	color: rgba(255, 255, 255, 0.72);
	font-weight: 400;
}
.text-error a {
	font-weight: 500;
	color: #edccba;
	border-bottom: 1px #edccba solid;
}
.text-error a:hover {
	border-color: transparent;
}
.page-error .title-main {
	text-transform: uppercase;
}
.page-error .title-middle {
	margin-bottom: 22px;
	font-weight: 400;
}




/*redesign*/
.basket-popup {
	background: #f5e9e2;
	color: rgba(17, 20, 22, 0.72);
}
.basket-popup .item-basket__title {
	color: rgba(17, 20, 22, 0.96);
}
.basket-popup .item-basket__descr {
	color: rgba(17, 20, 22, 0.64);
}
.basket-popup .item-basket__text {
	color: rgba(17, 20, 22, 0.72);
}
.basket-popup .item-basket__text li::before {
	background:  rgba(17, 20, 22, 0.16);
}
.basket-total-popup .title-small {
	color: rgba(17, 20, 22, 0.96);
}
.checkout-form .btn-main,
.basket-popup .btn-main {
	background: #111416;
	color: #fff;
}
.basket-popup .item-basket .price-main {
	color: #111416;
}
.basket-popup .item-basket .discount-price {
	color: rgba(17, 20, 22, 0.64);
}
.basket-popup .item-basket .price-old {
	color: rgba(17, 20, 22, 0.42);
}
.basket-popup .item-basket .quantity {
	border: 2px solid rgba(17, 20, 22, 0.08);
	background: transparent;
}
.basket-popup .item-basket .quantity-button {
	background: rgba(17, 20, 22, 0.03);
	color: rgba(17, 20, 22, 0.16);
}
.basket-popup .item-basket .quantity input {
	color: rgba(17, 20, 22, 0.64);
	border-color:  rgba(17, 20, 22, 0.08);
}
.basket-popup__list::-webkit-scrollbar {
	-webkit-appearance: none;
}
.basket-popup__list::-webkit-scrollbar:vertical {
	width: 16px;
}
.basket-popup__list::-webkit-scrollbar:horizontal {
	height: 16px;
}
.basket-popup__list::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.03);
}
.basket-popup__list::-webkit-scrollbar-track {
	background: rgba(17, 20, 22, 0.03);
}
.basket-popup__list {
	margin-right: -64px;
}
.item-catalog {
	border-radius: 10px;
	background: #f5e9e2;
	color: rgba(17, 20, 22, 0.96);
}
.item-catalog__descr {
	color: rgba(17, 20, 22, 0.96);
}
.item-catalog__title {
	color: #111416;
}
.item-catalog .btn-main.btn-main_border {
	border: 1px solid #111416;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	color: #111416;
}
.checkout-form .radio-main input::before, 
.checkout-form .radio-main input::after,
.checkout-form .icon-calendar img,
.item-dropdown__arrow::after, .item-dropdown__arrow::before,
.item-catalog .btn-main.btn-main_border img {
	filter: brightness(0%);
}
.feedback__block {
	background: #f5e9e2;
	color: rgba(17, 20, 22, 0.96);
}
.feedback__block .title-section {
	font-weight: 400;
}
.feedback__descr {
	color: rgba(17, 20, 22, 0.96);
}
.checkout-form .item-form input,
.feedback__block .item-form input {
	border: 2px solid rgba(17, 20, 22, 0.24);
	color: rgba(17, 20, 22, 0.96);
}
.checkout-form .item-form *::-webkit-input-placeholder,
.feedback__block .item-form *::-webkit-input-placeholder {
	color: rgba(17, 20, 22, 0.64);
}
.checkout-form .item-form *:-moz-placeholder,
.feedback__block .item-form *:-moz-placeholder {
	color: rgba(17, 20, 22, 0.64);
}
.checkout-form .item-form *::-moz-placeholder,
.feedback__block .item-form *::-moz-placeholder {
	color: rgba(17, 20, 22, 0.64);
}
.checkout-form .item-form *:-ms-input-placeholder,
.feedback__block .item-form *:-ms-input-placeholder {
	color: rgba(17, 20, 22, 0.64);
}
.feedback__block .btn-main {
	background: #111416;
	color: #fff;
}
.feedback__block .agree-form {
	color: rgba(17, 20, 22, 0.32);
}
.info-box {
	background: #f5e9e2;
	color: rgba(17, 20, 22, 0.96);
}
.info-box__title {
	color: #111416;
}
.item-dropdown {
	background: #f5e9e2;
	border: none;
	color: #111416;
}
.item-dropdown__content {
	color: rgba(17, 20, 22, 0.96);
}
.checkout-form {
	background: #f5e9e2;
	border: none;
	color: #111416;
}
.checkout-form .item-form input:disabled {
	background: rgba(17, 20, 22, 0.08);
}
.checkout-form .radio-main input:checked + span {
	color: rgba(17, 20, 22, 0.96);
}
.checkout-form .radio-main {
	color: rgba(17, 20, 22, 0.64);
}
.checkout-form__descr {
	color: rgba(17, 20, 22, 0.32);
}
.total-checkout__title {
	color: rgba(17, 20, 22, 0.96);
}
.checkout-form .agree-form {
	color: rgba(17, 20, 22, 0.32);
}
.unit-recommendation .image-page {
	height: 460px;
	display: block;
	border-radius: 8px;
}
.unit-recommendation .image-page img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
	border-radius: 8px;
}
.page-bouquet .image-page img {
	max-height: 360px;
	margin: 0 auto;
}
.info-section p {
	margin-bottom: 15px;
}
.page-bouquet {
	padding-bottom: 50px;
}
.item-news__image,
.item-news__image img,
.item-news__image::before,
.item-news__image::after {
	border-radius: 8px;
}
.basket-popup .btn-main img {
	filter: brightness(0) invert(1);
}
.basket-popup .price-total {
	color: #111416;
}
.basket-total-popup .title-small {
	font-weight: 400;
}